body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
    text-transform: capitalize;
}
h3 {
    text-transform: capitalize;
}
.orange-color {
    color: orange;
}
section {
    display: flex;
}
.half-width {
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 70%;
}
.link-button {
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    color: #ffffff;
    font-weight: 700;

}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}